<div class="my-4">
  <label class="text-sm tracking-wide" for="Quantity-{{ section.id }}">Quantity:</label>

  <div class="my-2">
    <input
      type="number"
      name="quantity"
      id="Quantity-{{ section.id }}"
      value="1"
      min="1"
      class="w-20 border px-3 py-3">
  </div>
</div>