{% if product.compare_at_price %}
  <p class="text-red-700 font-semibold text-xl uppercase">{{ product.price | money }}</p>
  <p class="line-through text-slate-600 uppercase">{{ product.compare_at_price | money }}</p>

{% else %}
  <p class>{{ product.price | money }}</p>

{% endif %}