{% if product.compare_at_price %}
  <div class="flex gap-5 items-center justify-center lg:justify-start">
    <p class="text-red-700 font-semibold text-xl uppercase">{{ product.price | money }}</p>
    <p class="line-through text-slate-600 uppercase">{{ product.compare_at_price | money }}</p>
  </div>
{% else %}
  <p class>{{ product.price | money }}</p>

{% endif %}