{% assign main_menu_linklist = linklists[section.settings.menu].links %}

<div x-data="{ openCart = false }" class="absolute top-0 z-[99] w-[400px] h-full bg-[#fafafa]">

  <div class="flex flex-col justify-center items-center gap-6 z-60">
    <div class="flex justify-between items-center py-8 px-6 w-full border-b">
      <h1 class="text-xl uppercase tracking-widest">Cart</h1>
      <button x-on:click="openCart = false">{% render 'icon-close-button' %}</button>
    </div>

  </div>

</div>