{% assign main_menu_linklist = linklists[section.settings.menu].links %}
<nav x-data="{openSideBar: false}" class=" space-x-10">
  <div class="flex justify-between items-center w-full h-36 py-6 px-10 border-b">
    <button x-on:click="openSideBar = ! openSideBar" type="button">
      {% render 'icon-menu' %}
    </button>

    <div
      x-show="openSideBar"
      @click.away="openSideBar = false"
      class="fixed inset-0 overflow-hidden z-50">
      {% render 'template-sidebar-menu' %}
    </div>
    <h1 class="text-xl font-bold truncate">{{ section.settings.menu_title }}</h1>


    <div>
      CART
    </div>

  </nav>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "text",
        "id": "menu_title",
        "label": "Title",
        "default": "Shop Name",
        "info": "This is for the menu window"
      }, {
        "type": "link_list",
        "id": "menu",
        "label": "Header Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}