{% assign main_menu_linklist = linklists[section.settings.menu].links %}
<nav x-data="{ openSideBar: false,openCart: false}" class=" space-x-10">
  <div class="flex justify-between items-center w-full h-32 py-6 px-10 border-b">
    <!-- Menu button -->
    <button x-on:click="openSideBar = ! openSideBar" type="button">
      {% render 'icon-menu' %}
    </button>
    <div
      x-show="openSideBar"
      x-transition:enter="transform transition-transform ease-out duration-500"
      x-transition:enter-start="translate-x-[-300px]"
      x-transition:enter-end="translate-x-0"
      x-transition:leave="transform transition-transform ease-out duration-500"
      x-transition:leave-start="translate-x-0"
      x-transition:leave-end="translate-x-[-400px]"
      class="fixed inset-0 overflow-hidden z-50 "
      @click.away="openSideBar = false">
      {% render 'template-sidebar-menu' %}
    </div>
    <div x-show="openSideBar"  class="fixed top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.1)] z-40"></div>
    <a href="/"><img src="{{ section.settings.menu_logo | img_url: 'large' }}" width="70" height="70" alt="logo"></a>
    
    <!-- Cart button -->
    <button x-on:click="openCart = ! openCart" type="button">
      {% render 'icon-shopping-bag' %}
    </button>
    
    <div
    x-show="openCart"
    x-transition:enter="transform transition-transform ease-out duration-500"
    x-transition:enter-start="translate-x-full"
    x-transition:enter-end="translate-x-0"
    x-transition:leave="transform transition-transform ease-out duration-500"
    x-transition:leave-start="translate-x-0"
    x-transition:leave-end="translate-x-full"
    class="fixed inset-y-0 right-0 w-[400px] z-50"
    @click.away="openCart = false"
  >
      {% render "template-cart-drawer" %}
    </div><div x-show="openCart"  class="fixed top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.1)] z-40"></div>

  </nav>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "menu_logo",
        "label": "Logo",
        "info": "This is for the menu window"
      }, {
        "type": "link_list",
        "id": "menu",
        "label": "Header Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}