<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


<div className="flex flex-col lg:flex-row justify-center items-center gap-10 p-[5rem] bg-[#fafafa] w-screen">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <div>
      {% render "product-image" %}
    </div>
    <div class="flex flex-col relative items-center lg:items-start lg:left-[50px] lg:w-[400px] gap-10">
      {% form 'product'
        , product %}
        <div class="flex flex-col justify-center items-start gap-5">
          <p class="mx-auto lg:mx-0 text-xl tracking-wide uppercase">{{ product.title }}</p>
          <div class="flex items-center justify-start gap-5 w-full border-b pb-5">{% render "product-price" %}</div>
        </div>
        <div class="flex flex-col gap-2 py-5">
          {% render "product-variant" %}
          {% render "product-quantity-selector" %}
        </div>
        <div class="flex flex-col justify-center items-center gap-5 w-[300px] lg:w-[400px] text-center md:text-left">
          <button class="bg-black text-white px-12 py-2 w-full uppercase tracking-widest rounded-sm transition ease-out duration-300 hover:bg-gray-700">Add to cart</button>
          <p>{{ product.description }}</p>
        </div>
      {% endform %}
    </div>
  </div>
</div>