<section class="flex flex-col items-center justify-center gap-5 pb-10">
  <div class="flex flex-col gap-10 h-[600px] w-full" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url({{ section.settings.hero_image | img_url: 'master' }}) center/cover no-repeat; height: 95vh;">
    <div class="flex flex-col gap-4 relative top-[50%] lg:top-[70%] pl-14">
      <h3 class="uppercase text-lg text-gray-300 tracking-widest">till 1 augusti</h3>
      <h1 class="uppercase text-2xl text-gray-200 tracking-widest">20 % RABATT PÅ HELA WEBBPLATSEN</h1>
      <button class="hero-btn">Buy</button>
    </div>

  </div>
</section>

{% schema %}
  {
    "name": "Home Page",
    "settings": [
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Hero Banner Image"
      }
    ]
  }
{% endschema %}