<div class="px-4 py-8" style="background-color: {{ section.settings.collection_background_color }};">
  {% paginate collection.products by section.settings.number_of_products_per_page %}
    <h1 class="text-2xl uppercase tracking-widest pb-8 text-center">{{ collection.title }}</h1>

    <div class="max-w-xs md:max-w-4xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {% for product in collection.products %}
          {% render "product-card"
            , product: product
            , blocks: section.settings.blocks
            , align: section.settings.card_text_alignment %}

        {% else %}
          <p>There are no products inside of this collection</p>
        {% endfor %}
      </div>
    </div>


    {% render 'pagination'
      , pagination: paginate %}
  {% endpaginate %}
</div>

{% schema %}
  {
    "name": "Template Collection",
    "settings": [
      {
        "type": "number",
        "id": "number_of_products_per_page",
        "default": 6,
        "label": "Number of products per page"
      }, {
        "type": "color",
        "id": "collection_background_color",
        "label": "Collection Background Color"
      }, {
        "type": "select",
        "id": "card_text_alignment",
        "label": "Text Alignment",
        "options": [
          {
            "value": "start",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }

        ],
        "default": "center"
      }
    ],
    "blocks": [
      {
        "type": "title",
        "name": "Title",
        "limit": 1
      }, {
        "type": "vendor",
        "name": "Vendor",
        "limit": 1
      }, {
        "type": "price",
        "name": "Price",
        "limit": 1
      }
    ]
  }
{% endschema %}